.text-lg {
  font-size: 40px;
}
.red,
.red-text {
  color: red;
}
p {
  color: red;
}
#aside {
  color: blue;
}
* {
  font-size: 20px;
}
a[href] {
  color: saddlebrown !important;
}
div[name] {
  color: green;
}
.parent .child {
  color: yellow;
}
.parent2 .child {
  color: blueviolet;
}
a:hover {
  color: red;
}
/* :active {
  color: green;
} */
.my-btn {
  background-color: gray;
  display: inline-block;
  border: 5px solid #000;
  padding: 3px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #404040;
}
.my-btn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 10px 10px 5px #404040;
}
.text-shadow {
  text-shadow: 5px 5px 3px #404040;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}
.bg-image {
  width: 500px;
  height: 500px;
  /* background-image: url("./image.png");
  background-size: contain;
  background-repeat: no-repeat; */
  background: url("./image.png") no-repeat center / contain;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 500px; */
  /* font-size: 300px; */
}
.rainbow {
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, purple); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn8v1UnGtvi4ZBbbHqXkOWz-Yg-sAeWC_LrQ&s"); */
  /* background-size: 100% 100%; */
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  font-weight: 900;
  border: 1px dashed #000;
}
body {
  margin: 0;
}
