.text-lg {
  font-size: 40px;
}
.red,
.red-text {
  color: red;
}
p {
  color: red;
}
#aside {
  color: blue;
}
* {
  font-size: 20px;
}
a[href] {
  color: saddlebrown;
}
div[name] {
  color: green;
}
