.text-lg {
  font-size: 40px;
}
.red,
.red-text {
  color: red;
}
p {
  color: red;
}
#aside {
  color: blue;
}
* {
  font-size: 20px;
}
a[href] {
  color: saddlebrown !important;
}
div[name] {
  color: green;
}
.parent .child {
  color: yellow;
}
.parent2 .child {
  color: blueviolet;
}
a:hover {
  color: red;
}
/* :active {
  color: green;
} */
.my-btn {
  background-color: gray;
  display: inline-block;
  border: 5px solid #000;
  padding: 3px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #404040;
}
.my-btn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 10px 10px 5px #404040;
}
.text-shadow {
  text-shadow: 5px 5px 3px #404040;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  z-index: 10;
  /* transition: all 1s;
  animation-name: move; */
}
.circle.active {
  left: 50%;
}
@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
.bg-image {
  width: 500px;
  height: 500px;
  /* background-image: url("./image.png");
  background-size: contain;
  background-repeat: no-repeat; */
  background: url("./image.png") no-repeat center / contain;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  overflow-y: auto;
  cursor: pointer;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 500px; */
  /* font-size: 300px; */
}
.rainbow {
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, purple); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn8v1UnGtvi4ZBbbHqXkOWz-Yg-sAeWC_LrQ&s"); */
  /* background-size: 100% 100%; */
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  font-weight: 900;
  border: 1px dashed #000;
  opacity: 0.3;
  position: relative;
  z-index: 50;
  /* transform: scale(1.2) rotate(45deg) translateX(200px) translateY(-200px); */
  font-family: "Zen Dots", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}

.shop-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.item {
  width: 30%;
  height: 300px;
  border: 1px solid #000;
  padding: 10px;
}
.item .img {
  width: 100%;
  height: 80%;
  background-color: #39a403;
}
.item .title {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .item {
    width: 100%;
  }
}
